.newsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  input {
    padding: 14px;
    width: 300px;
    margin: 20px;
    border-radius: 12px;
  }
}

.newsContainer__newsCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 780px;
  padding: 14px;
  gap: 20px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.newsContainer__newsCard-description {
  border: 1px solid gray;
  padding: 12px;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.content_button {
  float: right;
  border: 1px solid darkcyan;
  color: darkcyan;
  padding: 12px;
  border-radius: 12px;
  background-color: transparent;
  &:hover {
    background-color: darkcyan;
    color: white;
    cursor: pointer;
  }
}
